@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>
    <adress>Github adress:  </adress>
    <a href="https://github.com/TiagoLustosa/SalesWebMvc">@ViewData["GitHub"]</a>
</p>
<p>
    <adress>Email adress: </adress>
    <a href="mailto:tiagolustosasantos@hotmail.com">@ViewData["Email"]</a>
</p>
